html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}

* {
    font-size: 1.6rem;
}

body {
    background: rgba(0,0,0,0) linear-gradient(to right, rgb(74,255,74), rgb(255,0,0)) repeat scroll 0% 0%;
}

h1 {
    font-size: 5rem;
    letter-spacing: 10pt;
    text-transform: uppercase;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    letter-spacing: 4pt;
    text-transform: uppercase;
}

p {

}

input {

}